<!-- begin posts-content -->
<div class="profile-content">
    <div class="tab-content p-0">
        <div class="tab-pane fade active show" id="profile-post">
            <!-- begin timeline for the posts -->

            <!-- bootstrap inline form to create new posts -->
            <%= render partial: "form", locals: { post: @post }%>
            <ul class="timeline my-5">
                <!-- individual posts -->
                <div class="container" id="posts">
                    <%= render @posts %>
                </div>
            </ul>
        </div>
    </div>
</div>
<div id="infinite-scrolling">
    <%= will_paginate @posts %>
</div>